@charset "UTF-8";
/* --------------------- CSS TODO DIRECIONADO AO ESTILO DAS REDES SOCIAIS -----------------------*/
/*root especifico*/
*{ 
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        /*remove visualização a barra de rolagem definindo altura e largura da mesma para 0*/
        ::-webkit-scrollbar{
            width: 0;
            height: 0;
        }

        /*faz com que a imagem independente de qual seja cubra 100% da largura da tela*/
        img{
            width: 100vw;
        }

        /*config do botão dos links que direcionam aos sites*/
        a{
            display: block;
            background-color: darkred;
            color: white;
            padding: 20px;
            text-align: center;
            font-weight: bolder;
            text-decoration: none;
        }

        /*config do botão "ACESSE" ai passar o mouse*/
        a:hover {
            background-color: red;
        }